html{
  scroll-behavior: smooth;  
}
/* Navbar*/
.nav-link{
    font-size:30px;
}
/*HOME*/

/*Jumbotron*/

.jumbotron{
    position: relative;
    background: #eee;
    text-align:center;
    
}
.container{
    padding:0 !important;
}

/*Carousel*/
.images{
    text-align: center;
    background-color: #333;
    color: #fff ;
    margin-top: 10%;
    }

.home-image{
    width: 50%;
    margin: 20px;
    align-content: center;
}

/*SUBSRIBE*/
.subscribe-section{
  text-align: center;
  margin:0 auto;
  width:100%;
  padding: 100px;
}
.col{
    padding: 5%;
}
#button{
    border-radius: 0%;
    margin: 10px;
}

/*About*/
.about-section{
  text-align: center;
  margin:0 auto;
  width:100%;
  padding: 100px;
  background-color: #eee;
}


/*Team*/
.team-section{
  text-align: center;
  margin:0 auto;
  width:100%;
  padding: 100px;
  color: #fff;
  background-color: #333;
}
.row{
    padding: 5%;
}

/*Footer*/
.container-fluid{
  padding: 5%; 10%;
}
#footer{
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
    font-size:
}
.social-icon:hover{
    color: #ff4c68;
}